html, body {
    height: 100%;
}
body {
    background: url("../images/background/dark.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
a {text-decoration: none; color: var(--header-color);}
a:hover {color: var(--paragraph-color);}
.max-1200 {
    height: 100%;
    width: 100%;
}
.side-nav {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.side-nav-top    {
    max-width: 300px;
}
.side-nav-content {
    border: var(--header-color) solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
}
.main-content {
    max-width: 900px;
    width: 100%;
    margin-inline: 10px;
}
.search-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 30px);
    height: 50px;
    margin: 15px;
}
.search {
    display: flex;
    flex-direction: row;
    border: var(--header-color) solid 1px;
    border-radius: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 100px);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    gap: 5px;
}
.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: calc(100% - 10px);
    border: var(--header-color) solid 1px;
    border-radius: 5px;
    border-radius: 20px;
}
.btn-search button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--header-color);
    font-size: 1.5rem;
}
.select-type {
    width: 100px;
    background-color: #808080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}
.textInput {
    width: 100%;
    background-color: #808080;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}
.output-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 30px);
    margin: 15px;
    height: 600px;
    border: var(--header-color) solid 1px;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: auto;
}
.output-headers {
    display: grid;
    grid-template-columns: repeat(8,2fr);
}
.output-headers div, .output-row div {
    min-width: 105px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}
.output-row {
    display: grid;
    grid-template-columns: repeat(8,2fr);
    background-color: #666666;
}
.output-row:hover {
    transition: background-color 0.2s linear;
    background-color: #a9a9a9;
}
.middle-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #434343;
    width: 450px;
    height: 650px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px 12px #0000005d;
}
.middle-popup div {
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.middle-popup h1, .middle-popup p, .middle-popup h2 {
    margin: 0;
}
.middle-popup p {
    line-height: 0;
}
.popup-bg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    background-color: #ffffff6b;
}
#popupContent {
    overflow-y: auto;
    height: 580px;
}
.btn-exit {
    height: 40px;
    width: 40px;
    border: none;
    background-color: #c34f4f;
    color: #fff;
}
.btn-exit:hover {
    transition: background-color 0.1s linear;
    background-color: #ca7c7c;
}
@media (max-width:800px) {
    .output-div {
        align-items:first baseline;
    }
    .middle-popup {
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:1200px) {
    body {
        background-position: left;
    }
    .max-1200 {
        flex-direction: column;
    }.side-nav {
        max-width: unset;
    }
    .side-nav-top {
        max-width: unset;
    }
}
@media (max-width:1300px) {
    .search-nav {
        flex-direction: column;
    }
    .textInput, .select-type {
        font-size: 1rem;
        padding: 2px;
    }
    .search {
        width: 100%;
        height: 40px;
        margin: 0;
        margin-block: 5px;
    }
    .side-nav {
        width: calc(100% - 10px);
        height: unset;
    }
    .btn-search {
        width: 100%;
        height: 40px;
        padding: 5px;
    }
    .main-content {
        margin: 0;
    }
    .output-div {
        margin-block: 45px;
    }
    .main-content {
        max-width: unset;
    }
}
@media (min-width:1800px) {
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
    }
    .main-content {
        max-width: unset;
    }
}