html, body {
    height: 100%;
}
body {
    background: url("../images/background/dark.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
a {text-decoration: none; color: var(--header-color);}
a:hover {color: var(--paragraph-color);}
.max-1200 {
    height: 100%;
    width: 100%;
}
.side-nav {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.side-nav-top    {
    max-width: 300px;
}
.side-nav-content {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(50, 50, 50, 0.3);
}
.side-nav-content:hover {
    transition: all 0.2s ease-in-out;
    background: rgba(115, 115, 115, 0.864);
}
.main-content {
    max-width: 900px;
    width: 100%;
    margin-inline: 10px;
}
.search-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 30px);
    height: 50px;
    margin: 15px;
}
.search {
    display: flex;
    flex-direction: row-reverse;
    height: calc(100% - 10px);
    width: calc(100% - 100px);
    border-radius: 12px;
    margin: 5px;
    padding: 5px;
    gap: 5px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(50, 50, 50, 0.3);
}
.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: calc(100% - 10px);
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(190, 39, 39, 0.3);
}
.btn-search:hover {
    transition: all 0.1s ease-in-out;
    background: rgba(141, 46, 46, 0.76);
    box-shadow: 0px 0px 50px 15px rgba(141, 46, 46, 0.76);
}
.btn-search button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--header-color);
    font-size: 1.5rem;
}
.select-type {
    width: 150px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(50, 50, 50, 0.3);
}
.select-type:hover {
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
}
.textInput {
    width: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(50, 50, 50, 0.3);
    color: #fff;
}
.textInput:hover {
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
}
.textInput:focus {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}
.textInput:focus ~ .select-type {
    transition: all 0.2s ease-in-out;
    width: 50px;
}
.output-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 30px);
    margin: 15px;
    height: 600px;
    border-radius: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(50, 50, 50, 0.3);
}
.output-headers {
    display: grid;
    grid-template-columns: repeat(8,2fr);
}
.output-headers div, .output-row div {
    width: 150px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}
.output-row {
    display: grid;
    grid-template-columns: repeat(8,2fr);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(50, 50, 50, 0.3);
}
.output-row:hover {
    transition: background-color 0.2s linear;
    background: rgba(255, 255, 255, 0.1);
}
.middle-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 650px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
.middle-popup div {
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.middle-popup h1, .middle-popup p, .middle-popup h2 {
    margin: 0;
}
.middle-popup p {
    line-height: 0;
}
.popup-bg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    background-color: #0000006b;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
#popupContent {
    overflow-y: auto;
    height: 580px;
}
.btn-exit {
    height: 40px;
    width: 40px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(190, 39, 39, 0.3);
    color: #fff;
    border-radius: 8px;
}
.btn-exit:hover {
    transition: all 0.1s linear;
    background: rgba(210, 14, 14, 0.76);
    box-shadow: 0px 0px 50px 15px rgba(190, 39, 39, 0.607);
}
#fetchOutput {
    width: 100%;
}
.rowJS div {
    width: 150px;
}
@media (max-width:800px) {
    .output-div {
        align-items:first baseline;
    }
    .middle-popup {
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:1200px) {
    body {
        background-position: left;
    }
    .max-1200 {
        flex-direction: column;
    }.side-nav {
        max-width: unset;
    }
    .side-nav-top {
        max-width: unset;
    }
}
@media (max-width:1300px) {
    .search-nav {
        flex-direction: column;
    }
    .textInput, .select-type {
        font-size: 1rem;
        padding: 2px;
    }
    .search {
        width: 100%;
        height: 40px;
        margin: 0;
        margin-block: 5px;
    }
    .side-nav {
        width: calc(100% - 10px);
        height: unset;
    }
    .btn-search {
        width: 100%;
        height: 40px;
        padding: 5px;
    }
    .main-content {
        margin: 0;
    }
    .output-div {
        margin-block: 45px;
    }
    .main-content {
        max-width: unset;
    }
    .middle-popup{
        backdrop-filter: blur(800px);
    }
    .output-row {
        padding-inline: unset;
        width: 100%;
    }
}
@media (min-width:1800px) {
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
    }
    .main-content {
        max-width: unset;
    }
}