html, body {
    height: auto;
    overflow-y: auto !important;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
}

/* Otsikot */
h1, h2 {
    margin: 0.5rem 0;
}

/* Kategorian lohko */
.category-block {
    margin-bottom: 50px;
}

.category-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
}

/* Tuoterivit (3 tuotteen grid) */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px); 
    gap: 25px;
    justify-content: start; 
}


/* Tuotekortti */
.product-card {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    max-width: 300px;
    width: 100%;
    justify-content: left;
    justify-items: left;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
}

/* Tuotteen kuva */
.product-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
}

/* Tuotetiedot */
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info h2 {
    color: white;
    font-size: 18px;
}

.product-info h4 {
    color: #a7f3d0;
    font-size: 18px;
}

/* Lisää ostoskoriin -nappi */
.add-btn {
    width: 100%;
    background: white;
    color: #1a3a3a;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.add-btn:hover {
    background: #d1d1d1;
}

/* Toast-ilmoitus */
#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    display: none;
    font-size: 15px;
}

/* Mobile */
@media (max-width: 768px) {
    .product-img {
        height: 160px;
    }

    .product-card {
        padding: 12px;
    }
}
