* {box-sizing: border-box;}
body {
    color: #ffffff;
    color: var(--paragraph-color);
    font-family: outfit;
    font-weight: 100;
    background: url("../images/background/green.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.max-1200 {
    width: 10;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}
@font-face {
  font-family: outfit;
  font-weight: 500;
  src: url(../fonts/outfit/static/Outfit-Regular.ttf);
}
@font-face {
  font-family: outfit;
  font-weight: 900;
  src: url(../fonts/outfit/static/Outfit-ExtraBold.ttf);
}
@font-face {
  font-family: outfit;
  font-weight: 800;
  src: url(../fonts/outfit/static/Outfit-Bold.ttf);
}
@font-face {
  font-family: outfit;
  font-weight: 100;
  src: url(../fonts/outfit/static/Outfit-ExtraLight.ttf);
}
@font-face {
  font-family: outfit;
  font-weight: 200;
  src: url(../fonts/outfit/static/Outfit-Light.ttf);
}

@media (max-width:600px) {
    body {
        background-position: left;
    }
}