* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  color: var(--paragraph-color);
  font-family: outfit;
  font-weight: 100;
  background: url("../images/background/green.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.orders-container {
  max-width: 900px;
  margin: 40px auto;
  background: rgb(28, 51, 43);
  padding: 25px;
  border-radius: 8px;
}

.order-box {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.order-items {
  margin-left: 20px;
  margin-top: 10px;
}

.item-line {
  padding: 4px 0;
}

.order-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.checkout-container {
  max-width: 650px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 8px;
}

.checkout-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  font-size: 16px;
  background: rgba(255,255,255,0.15);
  color: white;
  backdrop-filter: blur(5px);
}

.checkout-input::placeholder {
    color: #e6e6e6;
}

.checkout-input:focus {
    outline: none;
    border-color: white;
}

.cart-box {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}
#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4CAF50;
  padding: 12px 20px;
  border-radius: 6px;
  color: white;
  display: none;
  font-weight: bold;
}

.row,
.col {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.max-1200 {
  width: 10;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}

.nav-icon {
  width: 55px;
  height: 55px;
}

.nav-link:hover {
  cursor: pointer;
  transition: filter 0.1s linear;
  filter: invert(30%);
}

.link-shopping-cart {
  padding: 15px;
  border-left:  #c4c4c4ff solid 1px ;
  height: 100%;
  margin-left: 15px;
  display: flex; 
  align-items: center; 
}

.top-nav {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  border-bottom: #c4c4c4ff solid 1px;
}

.nav-align {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-align h1 {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  font-weight: 700;
  font-size: 35px;
}

.nav-products {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

.nav-products h2 {
  font-weight: 700;
  font-size: 35px;
  margin-left: 30px;
}

.nav-link h1 {
  font-weight: 700;
  font-size: 45px;
}

.nav-greeting {
  font-weight: 700;
  font-size: 35px;
  margin-left: 30px;
}

.mob-nav-btn {
  all: unset;
  font-size: 32px;
  margin: 15px;
}
.mob-nav-btn:hover {
  transition: all ease-in-out 0.17s;
  cursor: pointer;
  transform: scaleX(1.4);
  filter: invert(20%);
}
.navUi {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #c8c8c8;
}
.navUi a {
  color: #ffffff;
  text-decoration: none;
  margin-inline: 10px;
}
.navUi a:hover {
  transition: all 0.17s ease-in;
  background-color: #00000057;
  padding-inline: 20px;
  margin-inline: 0px;
}
@font-face {
  font-family: outfit;
  font-weight: 500;
  src: url(../fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: outfit;
  font-weight: 900;
  src: url(../fonts/outfit/static/Outfit-ExtraBold.ttf);
}

@font-face {
  font-family: outfit;
  font-weight: 800;
  src: url(../fonts/outfit/static/Outfit-Bold.ttf);
}

@font-face {
  font-family: outfit;
  font-weight: 100;
  src: url(../fonts/outfit/static/Outfit-ExtraLight.ttf);
}

@font-face {
  font-family: outfit;
  font-weight: 200;
  src: url(../fonts/outfit/static/Outfit-Light.ttf);
}

@media (max-width:600px) {
  body {
    background-position: left;
  }
}
@media (max-width:1000px) {
  .mob-show {
    display: block;
  }
  .mob-hidden {
    display: none;
  }
}
@media (min-width:1000px) {
  .mob-hidden {
    display: block;
  }
  .mob-show {
    display: none;
  }
}